<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ape.apesystem.mapper.ApeUserMapper">
    <select id="getUserPage" resultType="com.ape.apesystem.domain.ApeUser">
        select
            au.id, au.dept_id, au.login_account, au.user_name,
            au.school,au.major,au.country,au.agree,au.age,au.birth,au.flair,au.address,au.work_date,
            au.email, au.avatar, au.tel, au.sex, au.status, au.del_flag,
            au.login_ip, au.login_date, au.create_by, au.create_time, au.remark, 
            ad.dept_name
        from ape_user au
        left join ape_dept ad on au.dept_id = ad.id
        where
            au.del_flag = 0
            <if test="ew.userName != null and ew.userName != ''">
                and au.user_name like concat('%',#{ew.userName},'%')
            </if>
            <if test="ew.major != null and ew.major != ''">
                and au.major like concat('%',#{ew.major},'%')
            </if>
            <if test="ew.school != null and ew.school != ''">
                and au.school like concat('%',#{ew.school},'%')
            </if>
            <if test="ew.tel != null and ew.tel != ''">
                and au.tel like concat('%',#{ew.tel},'%')
            </if>
            <if test="ew.status != null">
                and au.status = #{ew.status}
            </if>
            <if test="ew.userType != null">
                and au.user_type = #{ew.userType}
            </if>
            <if test="ew.deptId != null and ew.deptId != ''">
                and au.dept_id = #{ew.deptId}
            </if>
    </select>

    <select id="getUserPage_mqCount" resultType="int">
        select count(*)
        from ape_user au
        left join ape_dept ad on au.dept_id = ad.id
        where
        au.del_flag = 0
        <if test="ew.userName != null and ew.userName != ''">
            and au.user_name like concat('%',#{ew.userName},'%')
        </if>
        <if test="ew.major != null and ew.major != ''">
            and au.major like concat('%',#{ew.major},'%')
        </if>
        <if test="ew.school != null and ew.school != ''">
            and au.school like concat('%',#{ew.school},'%')
        </if>
        <if test="ew.tel != null and ew.tel != ''">
            and au.tel like concat('%',#{ew.tel},'%')
        </if>
        <if test="ew.status != null">
            and au.status = #{ew.status}
        </if>
        <if test="ew.userType != null">
            and au.user_type = #{ew.userType}
        </if>
        <if test="ew.deptId != null and ew.deptId != ''">
            and au.dept_id = #{ew.deptId}
        </if>
    </select>
</mapper>